body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

p {
    margin-bottom: 15px;
    line-height: 1.5;
}

div {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p:first-child {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}


.warning {
    margin-top: 20px;
    color: red;
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
}

pre code {
    display: block;
    font-size: 14px;
    line-height: 1.6;
}

pre.destructuring-object {
    border-color: #3498db;
}

pre.destructuring-array {
    border-color: #e7d03c;
}
